[Desktop Entry]
Type=Action
Profiles=profile-zero
Name[es]=Desmontar USB
Name[C]=Desmontar USB
Tooltip[es]=Desmontar USB de forma segura
Tooltip[C]=Desmontar USB de forma segura
ToolbarLabel[es]=Desmontar USB
ToolbarLabel[C]=Desmontar USB

Icon[es]=umount-usb-64x
Icon[es_ES]=umount-usb-64x

[X-Action-Profile profile-zero]
MimeTypes=inode/directory;all/allfiles
Exec=/usr/bin/vx-desmontar-usb
Name[es]=Desmontar USB
Name[C]=Desmontar USB

