[Desktop Entry]
Type=Action
ToolbarLabel[es_ES]=Mantener Acceso en Escritorio Congelado
Name[es_ES]=Mantener Acceso en Escritorio Congelado
Profiles=profile-zero;

Icon=hielo-64x
Icon[es]=hielo-64x
Icon[es_ES]=hielo-64x

[X-Action-Profile profile-zero]
MimeTypes=all/allfiles;
Exec=/usr/bin/vx-pk-mantener-acceso-escritorio-congelado %f
Name=Default profile
Name[es]=Default profile
Name[es_ES]=Default profile
