[Desktop Entry]
Type=Action
ToolbarLabel[es]=Utilidad para Comprimir Imágenes PNG
ToolbarLabel[es_ES]=Utilidad para Comprimir Imágenes PNG
Tooltip[es_ES]=Utilidad para Comprimir Imágenes PNG
Tooltip[es]=Utilidad para Comprimir Imágenes PNG
Name[es]=Comprimir PNG
Name[es_ES]=Comprimir PNG
Profiles=profile-zero;

Icon=png-icon-64x
Icon[es]=png-icon-64x
Icon[es_ES]=png-icon-64x

[X-Action-Profile profile-zero]
MimeTypes=image/png
Exec=/usr/bin/vx-comprimir-png %F
Name[en_US]=Default profile
Name[en]=Default profile
Name[es_ES]=Default profile

