[Desktop Entry]
Type=Menu
Icon=videos-64x
Icon[es]=videos-64x
Icon[es_ES]=videos-64x
Name[en_US]=Video Utils
Name[es_ES]=Utilidades Vídeos
Name[es]=Utilidades Vídeos
Comment=Pequeñas utilidades para la manipulación de Vídeos
ItemsList=vx-actions-videos-visualizar;
