[Desktop Entry]
Type=Action
Tooltip[es]=Utilidad que crea un Backup del archivo seleccionado indicando la fecha actual
Tooltip[es_ES]=Utilidad que crea un Backup del archivo seleccionado indicando la fecha actual
ToolbarLabel[es]=Utilidad que crea un Backup del archivo seleccionado indicando la fecha actual
ToolbarLabel[es_ES]=Utilidad que crea un Backup del archivo seleccionado indicando la fecha actual
Name[es]=Backup Fichero Aquí
Name[es_ES]=Backup Fichero Aquí
Profiles=profile-zero;
Icon[en_US]=document-save-as
Icon[en]=document-save-as
Icon[C]=document-save-as
Icon[es_ES]=document-save-as

[X-Action-Profile profile-zero]
MimeTypes=all/allfiles;!inode/directory
Exec=/usr/bin/vx-backup-file-aqui %B
Name[en_US]=Default profile
Name[en]=Default profile
Name[C]=Default profile
Name[es_ES]=Default profile
