[Desktop Entry]
Type=Action
ToolbarLabel[es]=Copiar a Directorio
ToolbarLabel[es_ES]=Copiar a Directorio
ToolTip[es]=Utilidad para Copiar archivos y directorios a un Directorio de destino
ToolTip[es_ES]=Utilidad para Copiar archivos y directorios a un Directorio de destino
Name[es]=Copiar a Directorio
Name[es_ES]=Copiar a Directorio
Profiles=profile-zero;

Icon[es]=cab_extract
Icon[es_ES]=cab_extract

[X-Action-Profile profile-zero]
MimeTypes=all/allfiles;
Exec=/usr/bin/vx-copiar-archivos-a-destino %F
Name[en_US]=Default profile
Name[en]=Default profile
Name[C]=Default profile
Name[es_ES]=Default profile

