[Desktop Entry]
Type=Menu
Icon[es_ES]=comprimir-128x
Icon[es]=comprimir-128x
Name[es_ES]=Utilidades Comprimir
Name[es]=Utilidades Comprimir
Comment=Pequeñas utilidades para la manipulación de Imágenes PNG, JPG, etc.
Comment[es]=Pequeñas utilidades para la manipulación de Imágenes PNG, JPG, etc.
Comment[es_ES]=Pequeñas utilidades para la manipulación de Imágenes PNG, JPG, etc.
ItemsList=vx-actions-imagenes-comprimir-jpg;vx-actions-imagenes-comprimir-png;vx-actions-musica-comprimir-mp3
