[Desktop Entry]
Type=Action
Profiles=profile-zero
Name[es]=Quitar USB
Name[C]=Quitar USB
Tooltip[es]=Quitar USB de forma segura
Tooltip[C]=Quitar USB de forma segura
ToolbarLabel[es]=Quitar USB
ToolbarLabel[C]=Quitar USB

Icon[es]=umount-usb-64x
Icon[es_ES]=umount-usb-64x

[X-Action-Profile profile-zero]
MimeTypes=inode/directory;all/allfiles
Exec=/usr/bin/vx-desmontar-usb
Name[es]=Quitar USB
Name[C]=Quitar USB

