[Desktop Entry]
Type=Action
ToolbarLabel[en_US]=Rename Shortcut
ToolbarLabel[en]=Rename Shortcut
ToolbarLabel[C]=Rename Shortcut
ToolbarLabel[es_ES]=Renombrar Acceso
Name[en_US]=Rename Shortcut
Name[en]=Rename Shortcut
Name[C]=Rename Shortcut
Name[es_ES]=Renombrar Acceso
Profiles=profile-zero;

Icon[en_US]=stock_spellcheck
Icon[en]=stock_spellcheck
Icon[C]=stock_spellcheck
Icon[es_ES]=stock_spellcheck

[X-Action-Profile profile-zero]
MimeTypes=application/x-desktop;
Exec=/usr/bin/vx-renameshortcut %d %b
Name[en_US]=Default profile
Name[en]=Default profile
Name[C]=Default profile
Name[es_ES]=Default profile
SelectionCount==1
