[Desktop Entry]
Type=Menu
Icon[es_ES]=archivo-64x
Icon[es]=archivo-64x
Icon=archivo-64x

Name[es_ES]=Utilidades Archivos
Name[es]=Utilidades Archivos

Tooltip[es_ES]=Utilidades para el manejo de Archivos
Tooltip[es]=Utilidades para el manejo de Archivos

ItemsList=vx-actions-archivos-backup-aqui;mb-editor;mb-rename-shortcut;mb-set-as-wallpaper;vx-actions-archivos-crear-lanzador;vx-actions-archivos-crear-lanzador-libro-ingles;vx-actions-archivos-copiar-a-destino
