[Desktop Entry]
Type=Action
Profiles=profile-zero;
Name[es]=Abrir Terminal Aquí
Name[es_ES]=Abrir Terminal Aquí
Tooltip[es_ES]=Utilidad que permite abrir una Terminal en el directorio donde te encuentras navegando
Tooltip[es]=Utilidad que permite abrir una Terminal en el directorio donde te encuentras navegando
ToolbarLabel[es_US]=Abrir Terminal Aquí
ToolbarLabel[es]=Abrir Terminal Aquí

Icon[es]=utilities-terminal
Icon[es_ES]=utilities-terminal

[X-Action-Profile profile-zero]
MimeTypes=inode/directory;
Exec=/usr/bin/lxterminal --working-directory=%f
