[Desktop Entry]
Type=Menu
Icon=pdf-64x
Icon[es]=pdf-64x
Icon[es_ES]=pdf-64x
Name[en_US]=PDF Utils
Name[es_ES]=Utilidades PDFs
Name[es]=Utilidades PDFs
Comment=Pequeñas utilidades para la manipulación de archivos PDFs
ItemsList=vx-actions-pdfs-comprimir;vx-actions-pdfs-extraer-paginas;vx-actions-pdfs-unir
