[Desktop Entry]
Type=Action

ToolbarLabel=Utility to Convert between Image formats
ToolbarLabel[en]=Utility to Convert between Image formats
ToolbarLabel[es]=Utilidad para Convertir entre formatos de Imágenes
ToolbarLabel[es_ES]=Utilidad para Convertir entre formatos de Imágenes

Tooltip=Utility to Convert between Image formats
Tooltip[en]=Utility to Convert between Image formats
Tooltip[es_ES]=Utilidad para Convertir entre formatos de Imágenes
Tooltip[es]=Utilidad para Convertir entre formatos de Imágenes

Name=Converter Format Images
Name[en]=Converter Format Images
Name[es]=Conversor Formato Imágenes
Name[es_ES]=Conversor Formato Imágenes

Profiles=profile-zero;

Icon=imagen-icon

[X-Action-Profile profile-zero]
MimeTypes=image/bmp;image/gif;image/jpeg;image/png;image/svg+xml;image/tiff
Exec=/usr/bin/vx-convertir-imagenes %F
Name=Default profile
Name[en]=Default profile
Name[en]=Default profile
Name[es_ES]=Default profile

