[Desktop Entry]
Type=Action

ToolbarLabel=Utility to Compress JPG Images
ToolbarLabel[en]=Utility to Compress JPG Images
ToolbarLabel[es]=Utilidad para Comprimir Imágenes JPG
ToolbarLabel[es_ES]=Utilidad para Comprimir Imágenes JPG

Tooltip=Utility to Compress JPG Images
Tooltip[en]=Utility to Compress JPG Images
Tooltip[es_ES]=Utilidad para Comprimir Imágenes JPG
Tooltip[es]=Utilidad para Comprimir Imágenes JPG

Name=Compress JPG
Name[en]=Compress JPG
Name[es]=Comprimir JPG
Name[es_ES]=Comprimir JPG

Profiles=profile-zero;

Icon=jpeg-icon

[X-Action-Profile profile-zero]
MimeTypes=image/jpeg
Exec=/usr/bin/vx-comprimir-jpg %F
Name[en_US]=Default profile
Name[en]=Default profile
Name[es_ES]=Default profile

