[Desktop Entry]
Type=Action

ToolbarLabel=Utility that allows us to reduce images to a desired size
ToolbarLabel[en]=Utility that allows us to reduce images to a desired size
ToolbarLabel[es]=Utilidad que nos permite reducir imágnes a un tamaño deseado
ToolbarLabel[es_ES]=Utilidad que nos permite reducir imágnes a un tamaño deseado

Tooltip=Utility that allows us to reduce images to a desired size
Tooltip[en]=Utility that allows us to reduce images to a desired size
Tooltip[es_ES]=Utilidad que nos permite reducir imágnes a un tamaño deseado
Tooltip[es]=Utilidad que nos permite reducir imágnes a un tamaño deseado

Name=Create Thumbnail Image
Name[en]=Create Thumbnail Image
Name[es]=Crear Imagen en Miniatura
Name[es_ES]=Crear Imagen en Miniatura

Profiles=profile-zero;

Icon=foto-ancho

[X-Action-Profile profile-zero]
MimeTypes=image/bmp;image/gif;image/jpeg;image/png;image/svg+xml;image/tiff
Exec=/usr/bin/vx-generar-thumbnails %F
Name[en_US]=Default profile
Name[en]=Default profile
Name[es_ES]=Default profile
Name=Default profile

